<div style="display:flex; flex-direction:column;">
{% if videos: %}
    {% for video in videos: %}
    {% if comments: %}   
        <div class="card my-3" style="width: 60%; margin: 0 auto; --max-height: 35rem;">
            <div class="card-body">
                <div class="row">
                    <div class="col" style="min-width: 40%;">
                        <div class="" style="display: block; object-fit:contain;">  <!-- d-flex justify-content-center -->
                            <video class="" style="width: 100% !important; height: auto !important; object-fit:contain;" controls>
                                <source src="https://engr-4450-fp.s3.us-east-2.amazonaws.com/{{ video['video_s3_path'] }}" type="video/mp4">
                            </video>
                        </div>
                    </div>
                    <div class="col" style="--max-width: 50%; ">
                        <div class="container">
                            <div class="row mb-2">
                                <div class="col-3 mx-0 px-0">
                                    <script type="text/javascript">
                                        function like_video_local_{{video['vid_id']}}(e){
                                            $.ajax({ 
                                                type: "POST", 
                                                url: '{{url_for('live.like_video', video_id=video['vid_id'])}}', 
                                                data: $('#like_vid_form_{{video['vid_id']}}').serialize(), 
                                                success: function(data) { 
                                                    console.log(data)
                                                    $('#like_vid_form_{{video['vid_id']}}').replaceWith(`
                                                    <form id="unlike_vid_form_{{video['vid_id']}}" action="{{url_for('live.unlike_video', video_id=video['vid_id'])}}" method="post" class="px-0">
                                                        <input type="hidden" value="{{ video['vid_id'] }}"/>
                                                        <button onclick="unlike_video_local_{{video['vid_id']}}();" id="btn-unlike-vid" type="button" class="btn"><i class="bi bi-hand-thumbs-up-fill"></i> `+parseInt(data)+`</button>
                                                    </form>
                                                    `);
                                                }, 
                                                error: function(data) {
                                                    alert("Error Liking Post"); 
                                                } 
                                            });
                                        };
                                        function unlike_video_local_{{video['vid_id']}}(){
                                            $.ajax({ 
                                                type: "POST", 
                                                url: '{{url_for('live.unlike_video', video_id=video['vid_id'])}}', 
                                                data: $('#unlike_vid_form_{{video['vid_id']}}').serialize(), 
                                                success: function(data) { 
                                                    console.log(data)
                                                    $('#unlike_vid_form_{{video['vid_id']}}').replaceWith(`
                                                    <form id="like_vid_form_{{video['vid_id']}}" action="{{url_for('live.like_video', video_id=video['vid_id'])}}" method="post" class="px-0">
                                                        <input type="hidden" value="{{ video['vid_id'] }}"/>
                                                        <button onclick="like_video_local_{{video['vid_id']}}();" id="btn-like-vid" type="button" class="btn"><i class="bi bi-hand-thumbs-up"></i> `+parseInt(data)+`</button>
                                                    </form>
                                                    `);
                                                }, 
                                                error: function(data) { 
                                                    alert("Error Unliking Post"); 
                                                } 
                                            });
                                        };
                                        
                                    </script>
                                    {% if video['vid_id'] in likes %}
                                    <form id="unlike_vid_form_{{video['vid_id']}}" action="{{url_for('live.unlike_video', video_id=video['vid_id'])}}" method="post" class="px-0">
                                        <input type="hidden" value="{{ video['vid_id'] }}"/>
                                        <button onclick="unlike_video_local_{{video['vid_id']}}();" id="btn-unlike-vid" type="button" class="btn"><i class="bi bi-hand-thumbs-up-fill"></i> {{ video['num_likes'] }}</button>
                                    </form>
                                    {% else %}
                                    <form id="like_vid_form_{{video['vid_id']}}" action="{{url_for('live.like_video', video_id=video['vid_id'])}}" method="post" class="px-0">
                                        <input type="hidden" value="{{ video['vid_id'] }}"/>
                                        <button onclick="like_video_local_{{video['vid_id']}}();" id="btn-like-vid" type="button" class="btn"><i class="bi bi-hand-thumbs-up"></i> {{ video['num_likes'] }}</button>
                                    </form>
                                    {% endif %}
                                </div>
                                <div class="col mx-0 px-0">
                                    <div class="d-flex flex-row-reverse my-1">
                                        {% if not hidelink %}
                                        <a title="Expand video" href="{{url_for('live.view_video', vid_id=video['vid_id'])}}" class="btn btn-light pt-1 ml-2"><i class="bi bi-box-arrow-up-right"></i></a>
                                        {% endif %}
                                        <a href="{{ url_for('live.view_profile', user_id=video['uploader_id']) }}" style="color: black; text-decoration:none;" class="d-flex align-items-center">
                                        {% if video['prof_pic_s3_path'] %}
                                            <h5 class="mb-0">
                                                <img style="width: 20px; object-fit:cover; aspect-ratio: 1/1;  border-radius: 100%;" src="https://engr-4450-fp.s3.us-east-2.amazonaws.com/{{ video["prof_pic_s3_path"] }}" alt="User profile icon"/>
                                                 <span class="d-none d-md-inline">{{video["usr_login"][:7] }}{% if video["usr_login"]|length > 6 %}...{%endif%}</span></h5>
                                        {% else %}
                                            <h5 class="mb-0"><i class="bi bi-person-circle"></i> <span class="d-none d-md-inline">{{video["usr_login"][:7]}}{% if video["usr_login"]|length > 6 %}...{%endif%}</span></h5>
                                        {% endif %}
                                        </a>  
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" style="">
                            <div class="card-header py-1">
                              Comments
                            </div>
                            <ul class="list-group list-group-flush" style="max-height: 20rem; overflow-y: auto;">
                                {% for comment in comments[video['vid_id']]: %}    
                                    <li class="list-group-item">{{ comment["usr_login"] }}: {{ comment["comment_text"] }}</li>
                                {% endfor %}
                            </ul>
                            <div class="card-footer">
                                <form class="d-flex" action="{{url_for('live.submit_video_comment')}}" method="post">
                                    <input type="hidden" value="{{ video['vid_id'] }}" name="vid_id"/>
                                    <input type="hidden" id="user_id_val" name="user_id" value={{ session['user_id'] }}>
                                        <input class="form-control" type="text" name="comment_text" required />
                                        <button class="btn btn-primary ml-1" type="submit">Post</button> 
                                    </div>
                                </form>
                            </div>                            
                          </div>
                    </div>
            </div>
        </div>  
        {% else %}
        <div class="card my-3" style="width: 30%; margin: 0 auto; --max-height: 35rem;">
            <div class="card-body">
                    <div class="row">
                    <div class="col" style="">
                        <div class="row mb-2 mx-0">
                            <div class="col-3 mx-0 px-0">
                                <script type="text/javascript">     
                                    function like_video_local_{{video['vid_id']}}(e){
                                        $.ajax({ 
                                            type: "POST", 
                                            url: '{{url_for('live.like_video', video_id=video['vid_id'])}}', 
                                            data: $('#like_vid_form_{{video['vid_id']}}').serialize(), 
                                            success: function(data) { 
                                                console.log(data)
                                                $('#like_vid_form_{{video['vid_id']}}').replaceWith(`
                                                <form id="unlike_vid_form_{{video['vid_id']}}" action="{{url_for('live.unlike_video', video_id=video['vid_id'])}}" method="post" class="px-0">
                                                    <input type="hidden" value="{{ video['vid_id'] }}"/>
                                                    <button onclick="unlike_video_local_{{video['vid_id']}}();" id="btn-unlike-vid" type="button" class="btn"><i class="bi bi-hand-thumbs-up-fill"></i> `+parseInt(data)+`</button>
                                                </form>
                                                `);
                                            }, 
                                            error: function(data) { 
                                                alert("Error Liking Post"); 
                                            } 
                                        });
    
                                    };
                                    function unlike_video_local_{{video['vid_id']}}(){
                                        $.ajax({ 
                                            type: "POST", 
                                            url: '{{url_for('live.unlike_video', video_id=video['vid_id'])}}', 
                                            data: $('#unlike_vid_form_{{video['vid_id']}}').serialize(), 
                                            success: function(data) { 
                                                console.log(data)
                                                $('#unlike_vid_form_{{video['vid_id']}}').replaceWith(`
                                                <form id="like_vid_form_{{video['vid_id']}}" action="{{url_for('live.like_video', video_id=video['vid_id'])}}" method="post" class="px-0">
                                                    <input type="hidden" value="{{ video['vid_id'] }}"/>
                                                    <button onclick="like_video_local_{{video['vid_id']}}();" id="btn-like-vid" type="button" class="btn"><i class="bi bi-hand-thumbs-up"></i> `+parseInt(data)+`</button>
                                                </form>
                                                `);
                                            }, 
                                            error: function(data) { 
                                                  
                                                // Some error in ajax call 
                                                alert("Error Unliking Post"); 
                                            } 
                                        });
                                    };
                                    
                                </script>
                                {% if video['vid_id'] in likes %}
                                <form id="unlike_vid_form_{{video['vid_id']}}" action="{{url_for('live.unlike_video', video_id=video['vid_id'])}}" method="post" class="px-0">
                                    <input type="hidden" value="{{ video['vid_id'] }}"/>
                                    <button onclick="unlike_video_local_{{video['vid_id']}}();" id="btn-unlike-vid" type="button" class="btn"><i class="bi bi-hand-thumbs-up-fill"></i> {{ video['num_likes'] }}</button>
                                </form>
                                {% else %}
                                <form id="like_vid_form_{{video['vid_id']}}" action="{{url_for('live.like_video', video_id=video['vid_id'])}}" method="post" class="px-0">
                                    <input type="hidden" value="{{ video['vid_id'] }}"/>
                                    <button onclick="like_video_local_{{video['vid_id']}}();" id="btn-like-vid" type="button" class="btn"><i class="bi bi-hand-thumbs-up"></i> {{ video['num_likes'] }}</button>
                                </form>
                                {% endif %}
                            </div>
                            <div class="col mx-0 px-0">
                                <div class="d-flex flex-row-reverse my-1">
                                    <a href="{{ url_for('live.view_profile', user_id=video['uploader_id']) }}" style="color: black; text-decoration:none;">
                                    {% if video['prof_pic_s3_path'] %}
                                        <h5 class="">
                                            <!-- <img src="video['prof_pic_s3_path']" alt="profile pic" /> -->
                                            <img style="width: 20px; object-fit:cover; aspect-ratio: 1/1;  border-radius: 100%;" src="https://engr-4450-fp.s3.us-east-2.amazonaws.com/{{video['prof_pic_s3_path']}}" alt="User profile icon"/>
                                            <span class="d-none d-md-inline">{{video["usr_login"][:7]}}{% if video["usr_login"]|length > 6 %}...{%endif%}</span></h5>
                                    {% else %}
                                        <h5 class="mb-0"><i class="bi bi-person-circle"></i> <span class="d-none d-md-inline">{{video["usr_login"][:7]}}{% if video["usr_login"]|length > 6 %}...{%endif%}</span></h5>
                                    {% endif %}
                                    </a>
                                </div>
                            </div>
                            <div class="col-2 py-auto mx-0 mr-0 pr-0">
                                <div class="d-flex flex-row-reverse">
                                    <a title="Expand video" href="{{url_for('live.view_video', vid_id=video['vid_id'])}}" class="btn btn-light"><i class="bi bi-box-arrow-up-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="" style="display: block; object-fit:contain;">
                            <video class="" style="width: 100% !important; height: auto !important; object-fit:contain;" controls>
                                <source src="https://engr-4450-fp.s3.us-east-2.amazonaws.com/{{ video['video_s3_path'] }}" type="video/mp4">
                            </video>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
        {% endif %}        
    {% endfor %}
{% else %} {# display special message when there are no videos to load/display #}
    <div>
        <h3><i class="bi bi-dropbox"></i> No videos to show here </h3>
    </div>
{% endif %}
</div>
