[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
boto3 = "*"
python-dotenv = "*"
supabase = "==2.0.3"
flask-cors = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"
