[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-socketio = "*"
python-dotenv = "*"
supabase = "==2.0.3"
boto3 = "*"
gunicorn = "*"
eventlet = "*"

[dev-packages]

[requires]
python_version = "3.11"
