/* h1{
    margin: .5rem;
    text-align: center;
}

nav{
    display:flex;
    margin-bottom: .5rem;
}

nav > a{
    padding: .25rem;
    margin: .25rem;
    border: 1px solid green;
}

nav > span{
    padding: .25rem;
    margin: .25rem;
    border: 1px solid green;
}

section.content > main{
    padding: 1rem;
    margin: 1rem auto;
    border: 1px solid orange;
}

div.vid-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

div.vid-block{
    color: red;
    flex-grow: initial;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.userlist{
    width: 20%;
    border: 2px dashed green;
} */