<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    </head>
    <body>
        <input type="hidden" id="user_id_val" name="user_id" value={{ session['user_id'] }}>
        <input type="hidden" id="user_name_val" name="user_name" value={{ g.user['usr_login'] }}>
        <script type="text/javascript">
            var socket = io.connect('http://localhost:5000');
            socket.on('connect', function(msg) {
                user_id = $('#user_id_val').val();
                user_name = $('#user_name_val').val();
                socket.emit('client_connecting', { "user_id": user_id, "user_name": user_name });
            });
            socket.on('update_clients', function(msg) {
                console.log("a client connected", msg);
                update_clients_display(msg['data']);
                //$("#userlist").append(msg);
            });
        
            function update_clients_display(users){
                $("#userlist").empty();
                for(const key in users){
                    console.log(key, users[key], users[key][0]);//users[key][0], user[key][1]);
                    $("#userlist").append(
                    '<li>   \
                        <div style="border: 2px solid black;">  \
                            <input type="hidden" name="sid" value={{ key }}>    \
                            <!-- <img alt="userIcon"/> -->  \
                            <!--<p>'+users[key][0]+'</p>--> \
                            <p>'+users[key][1]+'</p> \
                            <!-- <p>score</p> -->   \
                        </div>  \
                    </li>'); //users[key][0]
                }
                return true;
            }
            
            
            //every 30 seconds send a request via socket io to have your like counts refreshed 
        </script>

        <!-- <script type="text/javascript">
    var socket = io.connect('http://localhost:5000');
    socket.on('connect', function(msg) {
        user_id = $('#user_id_val').val();
        user_name = $('#user_name_val').val();
        socket.emit('client_connecting', { "user_id": user_id, "user_name": user_name });
    });
    socket.on('update_clients', function(msg) {
        console.log("a client connected", msg);
        update_clients_display(msg['data']);
        //$("#userlist").append(msg);
    });

    function update_clients_display(users){
        $("#userlist").empty();
        for(const key in users){
            console.log(key, users[key], users[key][0]);//users[key][0], user[key][1]);
            $("#userlist").append(
            '<li>   \
                <div style="border: 2px solid black;">  \
                    <input type="hidden" name="sid" value={{ key }}>    \
                    <img alt="userIcon"/>   \
                    <p>'+users[key][0]+'</p> \
                    <p>'+users[key][1]+'</p> \
                    <p>score</p>   \
                </div>  \
            </li>'); //users[key][0]
        }
        return true;
    }
        //every 30 seconds send a request via socket io to have your like counts refreshed 
    </script>
 -->

        <nav style="box-sizing:border-box;border: 2px dashed blue;">
            <h1><a href="/">Live Stream App</a></h1>
            {% if g.user %}
                <div>
                    <img class="account-icon-img" src="" />
                    <span>{{ g.user['usr_login'] }} - {{ session['user_id']}}</span>
                </div>
                <a href="{{url_for('live.all_videos')}}">All Videos</a>
                <a href="{{url_for('live.submit')}}">Upload video</a>
                <a href="{{ url_for('auth.logout') }}">Log Out</a>
            {% else %}
                <a href="{{ url_for('auth.register') }}">Register</a>
                <a href="{{ url_for('auth.login') }}">Log In</a>
            {% endif %} 
        </nav>
        <section class="content" style="border: 2px dashed red;">
            <header><h1 style="text-align: center;">{% block header %}{% endblock %}</h1></header>
            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
            <main>
                {% block content %}{% endblock %}
            </main>
        </section>
    </body>
</html>