{% block content %}
<div style="display:flex; flex-direction:column;">
    
    <!-- <div class="vid-container"> -->
        
        {% for video in videos: %}
        <p>video-{{ video['vid_id'] }}</p>  
        <div class="card my-3" style="width: 60%; margin: 0 auto; max-height: 35rem;">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="d-flex justify-content-center">
                            <video height="400" controls>
                                <source src="https://engr-4450-fp.s3.us-east-2.amazonaws.com/{{ video['video_s3_path'] }}" type="video/mp4">
                            </video>    
                        </div>
                    </div>
                    <div class="col">
                        <div class="container">
                            <div class="row mb-2">
                                <div class="col-3 mx-0 px-0">
                                    {% if video['vid_id'] in likes %}
                                    <form action="{{url_for('live.unlike_video', video_id=video['vid_id'])}}" method="post" class="px-0">
                                        <input type="hidden" value="{{ video['vid_id'] }}"/>
                                        <button type="submit" class="btn"><i class="bi bi-hand-thumbs-up-fill"></i> {{ video['num_likes'] }}</button>
                                    </form> 
                                    {% else %}
                                    <form action="{{url_for('live.like_video', video_id=video['vid_id'])}}" method="post" class="px-0">
                                        <input type="hidden" value="{{ video['vid_id'] }}"/>
                                        <button type="submit" class="btn"><i class="bi bi-hand-thumbs-up"></i> {{ video['num_likes'] }}</button>
                                    </form>
                                    {% endif %}
                                </div>
                                <div class="col ">
                                    {% if video['prof_pic_s3_path'] %}
                                        <h5 class="mb-0"><img src="video['prof_pic_s3_path']" alt="profile pic" /> {{ video['uploader_id'] }}-{{video["usr_login"]}}</h5>
                                    {% else %}
                                        <h5 class="mb-0"><i class="bi bi-person-circle"></i> {{ video['uploader_id'] }}-{{video["usr_login"]}}</h5>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        
                        <div class="card">
                            <div class="card-header">
                              Comments
                            </div>
                            <ul class="list-group list-group-flush" style="max-height: 20rem; overflow: scroll;">
                                {% for comment in comments[video['vid_id']]: %}    
                                    <!-- <p>{{ comment["user_id"] }}: {{ comment["comment_text"] }}</p> -->
                                    <li class="list-group-item">{{ comment["usr_login"] }}: {{ comment["comment_text"] }}</li>
                                {% endfor %}
                                <!-- <p>add somethign for zero comments</p> -->
                                <li class="list-group-item">
                                    <form class="form-inline" action="{{url_for('live.submit_video_comment')}}" method="post">
                                        <input type="hidden" value="{{ video['vid_id'] }}" name="vid_id"/>
                                        <input type="hidden" id="user_id_val" name="user_id" value={{ session['user_id'] }}>
                                        <div class="form-row">
                                            <div class="col">
                                                <input class="form-control" type="text" name="comment_text" />
                                            </div>
                                            <div class="col">
                                                <button class="btn btn-primary" type="submit">Post</button> <!-- convert this to either ajax or socketio -->
                                            </div>
                                            make sure you can't post an empty comment
                                        </div>
                                    </form>
                                    make overflow comments scroll after a certain height
                                </li>
                                switch user names to user ids and profile pics
                            </ul>
                          </div>
                            
                        
                        
                    </div>
                </div>
                
              <!-- <div class="vid-block" >
                <div style="display: flex; flex-direction: row; justify-content:center;">
                    <div>
                        <video height="400" controls>
                            <source src="https://engr-4450-fp.s3.us-east-2.amazonaws.com/{{ video['video_s3_path'] }}" type="video/mp4">
                        </video>    
                    </div>
                    <div class="comment-block" style="border: 2px solid black">
                        <div style="border: 2px solid green; display:flex; flex-direction:row;">
                            
                            <p>user-{{ video['uploader_id'] }}--</p>
                            <p>likes-{{ video['num_likes'] }}--</p>
                            <p>video-{{ video['vid_id'] }}--</p>
                            {% if video['vid_id'] in likes %}
                            <form action="{{url_for('live.unlike_video', video_id=video['vid_id'])}}" method="post">
                                <input type="hidden" value="{{ video['vid_id'] }}"/>
                                <button type="submit">Unlike Video</button>
                            </form> 
                            {% else %}
                            <form action="{{url_for('live.like_video', video_id=video['vid_id'])}}" method="post">
                                <input type="hidden" value="{{ video['vid_id'] }}"/>
                                <button type="submit">Like Video</button>
                            </form>
                            {% endif %}
                        </div>
                            {% for comment in comments[video['vid_id']]: %}    
                                <p>{{ comment["user_id"] }}: {{ comment["comment_text"] }}</p>
                            {% endfor %}
                        
                        
                        <form action="{{url_for('live.submit_video_comment')}}" method="post">
                            <input type="hidden" value="{{ video['vid_id'] }}" name="vid_id"/>
                            <input type="hidden" id="user_id_val" name="user_id" value={{ session['user_id'] }}>
                            <input type="text" name="comment_text" />
                            <button type="submit">Post</button> 
                        </form>
                    </div>
                </div>
             -->
            
            </div>
        </div>            
    </div>
    {% endfor %}
</div>
{% endblock %}