{% extends 'base.html' %}

{% block header %}
Change Account Icon
{% if user_profile_data["prof_pic_s3_path"] %}
<img style="width: 30px; object-fit:cover; aspect-ratio: 1/1;  border-radius: 100%;" src="https://engr-4450-fp.s3.us-east-2.amazonaws.com/{{ user_profile_data["prof_pic_s3_path"] }}" alt="User profile icon"/>
{% else %}
<i class="bi bi-person-circle"></i>
{% endif %}
{% endblock %}

{% block content %}
<div class="card my-3" style="width: 50%; margin: 0 auto;">
  <h5 class="card-header">Profile Icon Upload</h5>
  <div class="card-body">
    <form method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <input class="form-control-file" type="file" name="file" accept=".jpg,.png,.jpeg" max="1" required />
      </div>
      <button class="btn btn-primary btn-block" type="submit">Upload</button>
    </form>
  </div>
</div>
{% endblock %}
